:root { 
--orange_A200:#efb23b; 
--black_900:#000000; 
--teal_700:#008163; 
--red_600:#ee2526; 
--yellow_900:#f4811f; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_50:#fff9f5; 
--gray_100:#f5f5f5; 
}